<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/css/index.css' />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="container">
      <div class="logo"><a href="#"><img src="https://vandasms.herokuapp.com/img/logo.png"></a></div>
      <div class="main">
        <div class="row">
          <div class="col s6">
            <div class="card-holder">
              <h1>Dial 32141 For a great idea</h1>
              <p>let vanda solution be your next great idea and move you company into the mobile marketing space</p>
              <a class="waves-effect waves-light btn">Click to learn more</a>
            </div>
          </div>
          <div class="col s6"></div>
        </div>
      </div>
    </div>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    
  </body>
</html>
