<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--Import Annimate.css from CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/css/index.css' />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="wrapper">
      <header class="valign-wrapper">
        <div class="container">
          <div class="logo"><a href="https://vanda.solutions/"><img src="https://vandasms.herokuapp.com/img/logo.png"></a></div>
        </div>
      </header>
      <section class="main">
        <div class="container">
          <video playsinline="" autoplay="" muted="" loop="" poster="https://7ec4574965f6be0fefae-b56d4917bb94c6f59efdd8f1d1801e22.ssl.cf1.rackcdn.com/black.png" aria-describedby="vid-description" class="hpbgvid" aria-hidden="true">
            <source src="/img/resturant.mp4" type="video/mp4">
          </video>
          <div class="boxer">
            <h1 class="card-title">Hungry for new Ideas? Text <span>IDEA</span> to 82632</h1>
            <a class="waves-effect waves-light btn-large button-hide" href="https://vanda.solutions/text-message-center-sign-up"><i class="material-icons left">wb_incandescent</i>Learn More</a>
          </div>
          <div class="phone">
            <div class="msg_bubble-holder">
              <div class="msg_bubble bounceIn animated"><p>Hello <span class="sockets"></span>! Let Vanda Solutions help translate your next big idea!</p></div>
            </div>
            <img src="/img/iphone.png">
          </div>
        </div>
      </section>
      <footer class="valign-wrapper">
        <div class="container center-align">
          <span>Copyright 2019 Vanda Solutions LLC</span>
        </div>
      </footer>
    </div>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script>
    var socket = io();
    socket.on('sms', function (data) {
      console.log(data);
      $('.sockets').html(data);
      $('body').addClass( "swap" );
    });
  </script>    
  </body>
</html>
