// Wrapper
.wrapper {
  position: relative;
}

// Header
header {
  height: 70px;
  border-bottom: 1px solid #138c8a45;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999999;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  &.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }
}
.logo {
  padding-top: 5px;
  margin: auto;
  img {
    width: 160px;
  }
}

// Main container
.main {
  position: relative;
  padding-top: 70px;
  //   min-height: 660px;
  //   max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    180deg,
    #231437 0%,
    #2c385e 50%,
    #1aa59aa6 100%
  );
  video {
    display: none;
  }
  .boxer {
    position: relative;
    text-align: center;
    h1 {
      font-size: 3.5rem;
      font-weight: 100;
      color: white;
      margin: 2.8rem 4em 1.68rem 4em;
      line-height: 122%;
      span {
        color: #138c8a;
      }
    }
    .button-hide {
      display: none;
    }
  }
  .phone {
    position: relative;
    margin: 40px 200px;
    img {
      width: 100%;
      top: 1600px;
      position: absolute;
    }
  }
}

// Step 2
.step_two {
  display: none;
}

// Footer
footer {
  position: relative;
  background-color: #191717;
  height: 65px;
  span {
    color: white;
  }
}

// Utils
.swap-bg {
  background-color: #1f1c1c;
}

//iMessage style bubbles
.msg_bubble-holder {
  display: none;
  div {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .msg_bubble {
    position: relative;
    padding: 10px 20px;
    color: white;
    background: #0b93f6;
    border-radius: 25px;
    float: right;
    // &:before {
    //   content: "";
    //   position: absolute;
    //   z-index: -1;
    //   bottom: -2px;
    //   right: -7px;
    //   height: 20px;
    //   border-right: 20px solid #0b93f6;
    //   border-bottom-left-radius: 16px 14px;
    //   -webkit-transform: translate(0, -2px);
    // }
    // &:after {
    //   content: "";
    //   position: absolute;
    //   z-index: 1;
    //   bottom: -2px;
    //   right: -56px;
    //   width: 26px;
    //   height: 20px;
    //   background: white;
    //   border-bottom-left-radius: 10px;
    //   -webkit-transform: translate(-30px, -2px);
    // }
    p {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
  }
}
///  Color change items
.swap {
  .main {
    background-image: none;
  }
  .step_two {
    display: block;
    position: relative;
    padding-top: 70px;
    height: 100vh;
    overflow: hidden;
  }
  video {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform: none;
    transform: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center top;
    background-size: cover;
    z-index: -1;
  }
  .swap-bg {
    background-color: white;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  }
  .boxer {
    h1 {
      display: none;
    }
    .button-hide {
      display: inline-block;
      margin-top: 40px;
    }
  }
  .phone {
    img {
      top: 0;
      -webkit-transition: 0.5s top;
      transition: 0.5s top;
    }
  }
  .msg_bubble-holder {
    z-index: 40;
    position: absolute;
    display: block;
    top: 110px;
    right: 50px;
  }
}
